*{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(../assets/img/bg_cover.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}
.nav-links ul li::after{
    content: '';
    width: 100%;
    height: 2px;
    background: #2a66fa;
    display: block;
    margin: auto;
    transition: 1s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 25px;
    color: #fff;
}

nav .fas{
    display: none;
}

@media(max-width:700px){
    nav img{
        width: 100px;
    }
    .text-box h1{
        font-size: 20px;
    }
    .text-box p{
        font-size: 16px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: #2a66fa;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 0.75s;
    }
    nav .fas{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 25px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 5%;
    }
}

/* ----- SECCIÓN REPRESENTACIÓN TEJIDO ----- */
.representacion{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
section h1{
    font-size: 45px;
    font-weight: 600;
}
p{
    font-size: 20px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.representacion-col{
    flex-basis: 31%;
    background: #2a66fa;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    line-height: 75px;
    transition: 0.5s;
}
.btn-primario{
    width: 150px;
    height: 50px;
    background-color: #fff;
    color: #2a66fa;
    border-radius: 50px;
    cursor: pointer;
}
.inputs-texto{
    width: 75px;
    height: 40px;
    color: #2a66fa;
    font-weight: 600;
    text-align: center;
}
.select-patrones{
    text-align: center;
    height: 40px;
    font-weight: 600;
    color: #2a66fa;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.representacion-col:hover{
    box-shadow: 0 0 50px 0px rgba(0, 0, 0, 0.2);
}
.btn-color{
    width: 50px;
    border-radius: 5px;
    height: 50px;
}
@media(max-width:700px){
    .row{
        flex-direction: column;
    }
    canvas{
        width: 275px;
        height: 275px;
    }
    .select-patrones{
        width: 275px;
    }
    section h1{
        font-size: 23px;
        font-weight: 500;
    }
}
